@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');



.logo{
    height: 80px;
    font-size: 32px;
}


.navbar {
height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #DACC96;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

   }

   

   .nav-menu{
       display: flex; 
   }

   .nav-menu a{
       color: purple;
       padding: 0;
       margin: 0 1rem;
       width: 100%;
       text-decoration: none;
       font-family: 'Fjalla One', sans-serif;
       letter-spacing: 1px;
       font-size: 1em;
   }

   .nav-menu a:hover{
       color:black;
       text-decoration: underline;
       color: yellow;
   }
   
   
   


