/* .shop-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(164, 77, 149);
    font-size: 14px;
    height: 100%;
} */

.shop-list-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* background-color: rgb(164, 77, 149); */
    font-size: 14px;
    height: 100%;
}

.shoplist-page{
    background-color: rgb(164, 77, 149);
    height: 100vh;
}


.shop-list{
    padding: 3vh;
    width: 30vw;
    border-radius: 40px;
    align-self: center;
    background-color: bisque;
    margin: 4px;
    margin-top: 12px;
    
}

.deleteButton {
    border: none; 
    font-size: 16px;   
}

.deleteButton:hover {
    text-decoration: underline;
}

details > summary {
    list-style: none;
  }

  summary{
      position: relative;
      left: 40%;
  }
.shop-list-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
   
    
}
 
.modal-shoplist-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    overflow-y: scroll;
    white-space: nowrap;
    height: 90%;
    width: 40%;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}
